.margin1rem {
  margin: 1rem;
}

.Balance,
.Token-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.BalanceAndMint {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
